@import "tailwindcss";

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.orbitron-regular {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.oxanium-regular {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html,
body,
#root {
  background-color: #0f0f0f; /* ini warna bg-blue-300 */
  width: 100%;
}

@keyframes pulse-fast {
  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.05);
  }
}

.pulse-fast {
  animation: pulse-fast 1s ease-in-out infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: #00ffff;
  }
}

.typing-text {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #00ffff;
  width: fit-content;
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.carousel-scroll {
  display: flex;
  gap: 1.5rem; /* sama seperti gap-6 */
  width: max-content;
  animation: scroll-horizontal 30s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: scroll-left 30s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  will-change: transform;
}

/* app.css */

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 60s linear infinite;
}

