@import "tailwindcss";

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.orbitron-regular {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.oxanium-regular {
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}